body {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  min-width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.count {
  font-size: xx-large;
}

.button-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: rgb(186, 235, 137);
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 193, 237);
  margin: 10px 0;
}